.ProjectCard {
  $root: &;

  &_is-review-page {
    .Card {
      box-shadow: none;
      border: none;

      &:hover {
        box-shadow: none;
        border: none;
      }
    }

    .CardInfo__cover {
      background-color: transparent;
      background-image: none !important;
    }
  }
}
