@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.InputFieldSearchView {
  $root: &;
  position: relative;

  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    display: none;
    bottom: -1px;
    left: -10px;
    width: calc(100% + 20px);
    height: 3px;
    background-color: $color-brand-light-green;
  }

  &:hover {
    &::after {
      display: block;
      background-color: $color-brand-green;
    }

    #{$root}__icon {
      color: $color-brand-green;
    }
  }

  &_focused {
    #{$root}__icon {
      color: $color-brand-green;
    }

    &::after {
      display: block;
      background-color: $color-brand-green;
    }
  }

  &__input {
    font-family: $ff-roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-base-revert;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    max-width: 70%;

    @include desktop-mid {
      max-width: 55%;
    }

    &::placeholder {
      color: $color-gg-4;
    }
  }

  &__icon {
    flex-shrink: 0;
    color: $color-gg-4;
    font-size: 20px;
    margin-right: 22px;
  }
}