@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.MessageModal {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;

    &_color_default {
      color: #000;
    }

    &_color_success {
      color: $color-brand-green;
    }

    &_color_danger {
      color: $color-brand-red;
    }
  }

  &__description {
    text-align: center;
    max-width: 300px;
    margin-bottom: 30px;
  }

}
