@import '../../style/helpers/mixins';

.TestPage {
  &__image-line {
    height: 91px;
    background-image: url('../../static/images/cover-stub.png');
    background-size: cover;

    @include desktop {
      height: 160px;
    }
  }
}
