@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.IndexPage {
  padding-top: 42px;

  &__hero-inner {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;
  }

  &__hero-image {
    order: -1;
    margin-bottom: 14px;
  }

  &__hero-title {
    font-family: $ff-roboto;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 42px;
    text-align: center;
  }

  &__hero-info {
    display: flex;
    flex-direction: column;
  }

  &__hero-text {
    order: 2;
  }

  &__hero-action {
    display: block;
    width: 100%;
    padding: 16px 14px;
    font-weight: lighter;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 14px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;

    &:first-child {
      margin-bottom: 14px;
    }

    &_primary {
      color: $color-base;
      background-color: $color-brand-green;
      border-color: $color-brand-green;

      &:active {
        color: $color-base;
        background-color: #BCD5FF;
        border-color: #BCD5FF;
      }
    }

    &_secondary {
      color: #212529;
      background-color: #f1f1f1;
      border-color: #f1f1f1;

      &:active {
        background-color: #d2d2f3;
        border-color: #c8c8f0;
      }
    }
  }
}