$icons-dir: '../static/icons';

.Icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 16px;
  min-height: 16px;

  &__twitter {
    background-image: url('#{$icons-dir}/twitter.svg');
  }

  &__facebook {
    background-image: url('#{$icons-dir}/facebook.svg');
  }

  &__instagram {
    background-image: url('#{$icons-dir}/instagram.svg');
  }

  &__telegram {
    background-image: url('#{$icons-dir}/telegram.svg');
  }
}