@import '../../style/helpers/mixins';
$icons-dir: '../static/icons';

.Icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 16px;
  min-height: 16px;

  &__logo {
    background-image: url('#{$icons-dir}/logo.svg');
  }

  &__twitter {
    background-image: url('#{$icons-dir}/twitter.svg');
  }

  &__facebook {
    background-image: url('#{$icons-dir}/facebook.svg');
  }

  &__instagram {
    background-image: url('#{$icons-dir}/instagram.svg');
  }

  &__telegram {
    background-image: url('#{$icons-dir}/telegram.svg');
  }

  &__notification {
    background-image: url('#{$icons-dir}/notification.svg');

    &_green {
      background-image: url('#{$icons-dir}/notification_green.svg');
    }

    @include icon-hover {
      background-image: url('#{$icons-dir}/notification_green.svg');
    }
  }

  &__invite {
    background-image: url('#{$icons-dir}/invite.svg');

    &_green {
      background-image: url('#{$icons-dir}/invite_green.svg');
    }

    @include icon-hover {
      background-image: url('#{$icons-dir}/invite_green.svg');
    }
  }

  &__rhombus {
    background-image: url('#{$icons-dir}/rhombus.svg');

    &_green {
      background-image: url('#{$icons-dir}/rhombus_green.svg');
    }

    @include icon-hover {
      background-image: url('#{$icons-dir}/rhombus_green.svg');
    }
  }

  &__rocket {
    background-image: url('#{$icons-dir}/rocket.svg');

    &_green {
      background-image: url('#{$icons-dir}/rocket_green.svg');
    }

    @include icon-hover {
      background-image: url('#{$icons-dir}/rocket_green.svg');
    }
  }

  &__voting {
    background-image: url('#{$icons-dir}/voting.svg');

    &_green {
      background-image: url('#{$icons-dir}/voting_green.svg');
    }

    @include icon-hover {
      background-image: url('#{$icons-dir}/voting_green.svg');
    }
  }


  &__explore-ideas {
    min-width: 69px;
    min-height: 69px;
    background-image: url('#{$icons-dir}/explore-ideas.svg');
  }

  &__new-project {
    min-width: 69px;
    min-height: 69px;
    background-image: url('#{$icons-dir}/new-project.svg');
  }
}