// Fonts
$font-dir: '../static/fonts';

// Fonts - Roboto
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: local('Roboto'),
  local('Roboto-Thin'),
  url('#{$font-dir}/Roboto-Thin.woff2') format('woff2'),
  url('#{$font-dir}/Roboto-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: local('Roboto'),
  local('Roboto-Light'),
  url('#{$font-dir}/Roboto-Light.woff2') format('woff2'),
  url('#{$font-dir}/Roboto-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'),
  local('Roboto-Regular'),
  url('#{$font-dir}/Roboto-Regular.woff2') format('woff2'),
  url('#{$font-dir}/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto Medium'),
  local('Roboto-Medium'),
  url('#{$font-dir}/Roboto-Medium.woff2') format('woff2'),
  url('#{$font-dir}/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'),
  local('Roboto-Bold'),
  url('#{$font-dir}/Roboto-Bold.woff2') format('woff2'),
  url('#{$font-dir}/Roboto-Bold.woff') format('woff');
}

// Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-dir}/Material-Icons.woff2') format('woff2');
}