@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.ProfileContentFilter {

  &__nav-container {
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__nav {
    width: 100%;
    max-width: 400px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
      max-width: 100%;
    }
  }

  &__nav-icon {
    margin-bottom: 3px;

    @include tablet {
      display: none;
    }
  }

  &__nav-item {
    font-size: 12px;
    line-height: 14px;
    color: $color-gg-4;

    @include tablet {
      color: #000;
      font-size: 16px;
    }
    &_is-active {
      color: $color-brand-green;

      @include tablet {
        color: #000;
        font-weight: 500;
      }
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    & > a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }

}