@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.ActionButtonBlock {
  cursor: pointer;

  &__container {
    box-shadow: 0 5px 10px rgba(12, 112, 23, 0.2);
    border-radius: 3px;
    background-color: $color-brand-green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    height: 100px;

    @include card-hover;

    @include tablet {
      height: 150px;
      @include card;
      font-weight: 300;
      font-size: 16px;
      color: #000;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 16px;
    display: none;

    @include tablet {
      display: block;
    }
  }
}
