@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.ActionButtonBlock {
  & > a {
    text-decoration: none;
  }

  &__container {
    box-shadow: 0 5px 10px rgba(12, 112, 23, 0.2);
    border-radius: 3px;
    background-color: $color-brand-green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    height: 100px;

    &:hover {
      opacity: 0.7;
    }

    @include tablet {
      height: 150px;
      background-color: #fff;
      box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
      border-radius: 2px;
      font-weight: 300;
      font-size: 16px;
      color: #000;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 16px;
    display: none;

    @include tablet {
      display: block;
    }
  }
}