
@import 'style/helpers/vars';
@import 'style/helpers/mixins';
@import './../../index';

.InfoBlock {
    &__root {
        padding: 24px;
        background-color: #fff;

        & > :first-child {
            color: $text_lt;
        }
    }
}