@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.ProfileBlock {
  $root: &;

  display: flex;
  align-items: center;

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: $color-gg-3;
    object-fit: cover;

    @include desktop {
      width: 41px;
      height: 41px;
      margin-right: 14px;
    }
  }

  &__name {
    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__inner {
    display: none;

    @include tablet {
      display: block;
      position: relative;
    }
  }

  &__balance {
    font-size: 13px;
    line-height: 14px;
    color: $color-brand-green;
    position: absolute;
    right: 50px;
    top: -13px;

    @include desktop {
      right: 40px;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    @include tablet {
      margin-right: 25px;
      position: relative;
    }
  }

  &__name {
    margin-right: 10px;
  }

  &__menu-toggle {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    color: $color-gg-4;

    &:active {
      color: $color-brand-green;
    }

    @include desktop {
      &:hover, &:focus {
        cursor: pointer;
        color: $color-brand-green;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 47px;
    left: 0;
    z-index: $zi-popup;
    margin: 0;
    padding: 20px 40px;
    background-color: $color-base;
    box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
    border-radius: 0 0 2px 2px;
    min-width: 182px;
    list-style: none;

    &_hidden {
      display: none;
    }
  }

  &__menu-item {

    &:nth-last-child(2) #{$root}__menu-link {
      padding-bottom: 15px;
    }

    &:last-child::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: $color-gg-10;
    }
  }

  &__menu-link {
    display: block;
    padding: 10px 0;
    color: $color-base-revert;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:active {
      color: $color-brand-green;
    }

    @include desktop {
      &:hover,
      &:focus {
        color: $color-brand-green;
      }
    }

    &_logout {
      padding-top: 15px;
    }

    &_active {
      color: $color-brand-green;
    }
  }

  &__notification-icon {
    color: $color-gg-4;
    position: relative;
    top: 3px;

    &:active {
      color: $color-brand-green;
    }
  }
}