@import 'style/helpers/vars';
@import 'style/helpers/mixins';

$blurred-color: rgba(11, 201, 31, 0.5);
$focused-color: #0BC91F;

.SelectDropdown-root {
    $root: &;
    position: relative;

    & > :first-child {
        padding: 14px 20px;
        border: 1px solid $focused-color;
        border-radius: 3px;

        & > :first-child {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            cursor: pointer;
        }


    }

    & .dropdown-options {
        position: absolute;
        width: 100%;
        background: white;
        z-index: 1;
        border-radius: 3px;
        border: 1px solid #C4C4C4;
        max-height: 120px;
        overflow: auto;

        & > * {
            font-size: 14px;
            line-height: 16px;
            padding: 18px 20px;
            border-bottom: 1px solid #c4c4c4;
            cursor: pointer;

            &.checked {
                color: $focused-color;
            }
        }
    }

    & .option-with-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        cursor: pointer;
    }

    &.hidden {
        & > :nth-child(1) {

            & > :nth-child(2) {
                transform: rotate(180deg);
            }
        }
        & > :nth-child(2) {
            display: none;
        }
    }
}