@import '../../../style/helpers/vars';

.FieldLayoutView {
  &_layout_default {
    width: 100%;
  }

  //&_has-errors &__top-label {
  //  color: $color-brand-red;
  //}

  &__field {
    position: relative;
    margin-bottom: 38px;
  }

  &__label-icon {
    margin-right: 15px;
  }

  &__label-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__label {
    font-weight: 300;
    color: $color-gg-4;

    &_required:after {
      display: inline-block;
      content: '*';
      color: red;
      margin: 0 0 0 3px;
    }
  }

  &__top-label {
    position: absolute;
    top: -17px;

    font-weight: 300;
    color: $color-gg-4;
    font-size: 13px;
    line-height: 14px;
  }

  &__invalid-feedback {
    display: block !important;
    color: $color-brand-red;

    padding-top: 3px;
  }
  &__hint {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
  }
}
