@import 'style/helpers/vars';
@import 'style/helpers/mixins';

$dark-theme: false !default;
$text: #000000;
$text_tr: rgba(0, 0, 0, 0.75);
$text_lt: #7D8199;
$widget_cl: #fff;
$page_bg: #E8ECF1;
$accent_cl: #F1F6F8;
$green_cl: #0BC91F;
$yellow_cl: #C68200;
$ultra_blue: #01F5FF;
$violet: #9975FF;
$red_cl: #FF7171;

@if $dark-theme {
    $text: #fff;
    $text_tr: rgba(255, 255, 255, 0.75);
    $text_lt: #7D8199;
    $widget_cl: #1B2535;
    $page_bg: #141B25;
    $accent_cl: #000000;
    $green_cl: #4EFFA1;
    $yellow_cl: #FBFF4E;
    $ultra_blue: #01F5FF;
    $violet: #9975FF;
    $red_cl: #FF7171;
}


$desktop-bp: 1200px;

.EntityPageLayout {


    &__base-button {
        padding: 8px 32px;
        display: flex;
        flex-direction: row;
        width: max-content;
        border-radius: 20px;
        // border: 1px solid grey;
        max-height: 45px;

        & > button {
            border: none;
            background: unset;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

        &.green {
            background-color: $green_cl;

            & > button {
                color: #fff;
            }
        }
        &.grey {
            background-color: $page_bg;

            // & > button {
            //     color: #fff;
            // }
        }
    }

    &__heading {
        position: relative;

        & > :first-child {
            position: absolute;
            background: #fff;
            border: none;
            right: 30px;
            top: 16px;
        }
        & > img {
            width: 100vw;
        }
    }

    &__heading-cover {
        height: 300px;
        position: absolute;
        width: 100%;
        bottom: 0;
        background: linear-gradient(180deg, transparent 0%, rgba(255,255,2555,1) 100%);
    }

    &__head-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: auto;

        // Contribute btn
        & > :nth-child(3) {
            margin-top: auto;
            margin-bottom: 16px;
        }
    }

    &__head-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;
        background: transparent;
        margin-top: -182px;

        // Page avatar
        & > :first-child {
            margin-left: 50px;

            & > img {
                min-width: 160px;
                min-height: 160px;
                border: 8px solid white;
                border-radius: 50%;
            }
        }

        // Page info
        & > :nth-child(2) {
            display: flex;
            flex-direction: column;
            margin-left: 48px;
            justify-content: space-evenly;

            & > :first-child {
                font-weight: 500;
                font-size: 32px;
                line-height: 48px;
            }

            & > :nth-child(2) {
                font-size: 16px;
                line-height: 24px;
            }

            & > :nth-child(3) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-top: 16px;
                margin-left: -16px;

                & > * {
                    margin-right: 20px;
                }
            }
        }
    }

    &__ent-badge {
        display: flex;
        max-width: fit-content;
        flex-direction: row;

        & > :first-child {
            border-radius: 50px;
            width: 40px;
            height: 40px;
            margin: 2px 16px 10px;
            background: #fff;

            & > :first-child {
                position: relative;
                top: 5px;
                left: 5px;

                & svg * {
                    fill: $green_cl;
                }
            }
            & > :nth-child(2) {
                font-weight: 500;
            }
            & > :nth-child(3) {
                font-size: 14px;
            }
        }

        & > :nth-child(2) {

            & > :first-child {
                color: $green_cl;
                font-weight: 500;
            }

            & > :nth-child(2) {
                color: $text_lt;
                font-size: 14px;
                display: block;
                margin-top: -6px;
                font-weight: 300;
            }
        }
    }

    &__actions-tab {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

        & > :nth-child(2) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 8px 0;

            & > * {
                margin-left: 4px;
            }
        }
    }

    &__tabs-flex {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        line-height: 24px;

        & > div {
            padding: 24px 4px;
            margin: 0 12px;

            & > a {
                color: $text;
            }

            &.selected {
                box-shadow: inset $green_cl 0px -2px 0px 0px;
            }
        }
    }

    &__page-body {
        background-color: $page_bg;

    }

    &__body-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: $desktop-bp + 24px;
        margin: auto;
        padding: 24px 0;
    }


    &__main-body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: $widget_cl;
        border-radius: 10px;
        width: 808px;
    }

    &__side-body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

// <div class="EntityPageLayout__body-flex" style="
//     padding: 24px 0;
// "><div class="EntityPageLayout__main-body" style="
//     background-color: #fff;
//     border-radius: 10px;
//     width: 808px;
// "><div class="CampaignItem__root" style="padding: 20px;display: flex;flex-direction: row;flex-wrap: nowrap;"><div><img src="http://127.0.0.1:8081/images/31b177fd1d90d73f64f6e41e564e57af.jpeg" style="
//     width: 70px;
//     height: 70px;
//     border-radius: 50%;
//     border: 1px solid grey;
// "></div><div style="
//     margin-left: 13px;
//     line-height: 24px;
// "><span style="
//     font-weight: 300;
//     font-size: 14px;
//     /* line-height: 24px; */
//     color: #0BC91F;
// ">Ended</span><h4 style="
//     margin: 0;
//     margin-bottom: 8px;
//     font-size: 18px;
// ">Cryptopolis ('Monopoly' game)</h4><span style="
//     font-size: 16px;
// ">This is a blockchain game based on Waves smart contracts.</span><div><div class="CampaignItem__achievement-badge"><div><h4>12k+</h4><span class="sc-bdVaJa zvAhy"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.5"><path d="M15.9099 7.90985L19 11L15.9977 14.0023C15.9992 13.9591 16 13.9156 16 13.8717C16 13.2781 15.8729 12.762 15.6188 12.3235C15.3865 11.9147 15.035 11.5546 14.5641 11.2434C15.1536 11.3469 15.7775 11.3177 16.5892 11.1078C16.8093 11.0508 17.018 10.9819 17.2156 10.9032L12.7437 6.43125V6.32844C13.1995 6.41635 13.5732 6.59921 13.8651 6.87701C14.1237 7.11987 14.3039 7.41861 14.4059 7.77324C14.5236 8.18242 14.835 8.53743 15.2413 8.53743C15.6012 8.53743 15.9086 8.26197 15.9099 7.90985Z" fill="black" fill-opacity="0.75"></path><path d="M13.1098 5.10977L12.731 4.73102C12.7394 4.77565 12.7437 4.82168 12.7437 4.86874V5.04481C12.8683 5.0617 12.9903 5.08335 13.1098 5.10977Z" fill="black" fill-opacity="0.75"></path><path d="M12.1377 4.13773L12 4L11.8623 4.13773C11.9069 4.12937 11.9529 4.125 12 4.125C12.0471 4.125 12.0931 4.12937 12.1377 4.13773Z" fill="black" fill-opacity="0.75"></path><path d="M11.269 4.73101L10.8677 5.13227C10.9936 5.10196 11.1232 5.07687 11.2563 5.05697V4.86874C11.2563 4.82168 11.2606 4.77565 11.269 4.73101Z" fill="black" fill-opacity="0.75"></path><path d="M8.32142 7.67858L5 11L8.00517 14.0052C8.04688 13.6908 8.33574 13.4545 8.6689 13.4545C9.07526 13.4545 9.38592 13.8116 9.518 14.2158C9.63545 14.5754 9.84421 14.8804 10.1443 15.131C10.4519 15.382 10.8226 15.5555 11.2563 15.6515V15.5688L6.74487 11.0574C7.83098 10.6016 8.84057 10.5527 9.7878 10.7367C9.53682 10.579 9.32016 10.4128 9.13782 10.238C8.85397 9.96068 8.64088 9.65148 8.49855 9.31038C8.45585 9.31223 8.41301 9.31459 8.37003 9.31746L8.46407 9.22343C8.34393 8.9042 8.28386 8.55789 8.28386 8.18449C8.28386 8.01009 8.29638 7.84145 8.32142 7.67858Z" fill="black" fill-opacity="0.75"></path><path d="M10.7484 9.65446C10.8976 9.73955 11.0669 9.82262 11.2563 9.90369V9.84564C11.0896 9.77678 10.9203 9.71269 10.7484 9.65446Z" fill="black" fill-opacity="0.75"></path><path d="M11.2563 6.43124L9.77555 7.91194C9.82509 7.43623 10.0217 7.05649 10.3654 6.77273C10.6068 6.57272 10.9038 6.43208 11.2563 6.35081V6.43124Z" fill="black" fill-opacity="0.75"></path><path d="M12.7438 15.5687V15.7013C13.226 15.6342 13.615 15.4816 13.9108 15.2433C14.3226 14.9118 14.5284 14.4599 14.5284 13.8877C14.5284 13.8534 14.5278 13.8195 14.5264 13.7861L12.7438 15.5687Z" fill="black" fill-opacity="0.75"></path><path d="M13.6301 12.3389C13.3412 12.2341 13.0494 12.1047 12.7438 11.9554V11.926C13.1001 12.0626 13.3955 12.2002 13.6301 12.3389Z" fill="black" fill-opacity="0.75"></path><path d="M10.8419 16.8419L11.269 17.269C11.2606 17.2244 11.2563 17.1783 11.2563 17.1313V16.9289C11.1162 16.9057 10.9781 16.8766 10.8419 16.8419Z" fill="black" fill-opacity="0.75"></path><path d="M11.8623 17.8623L12 18L12.1377 17.8623C12.0931 17.8706 12.0471 17.875 12 17.875C11.953 17.875 11.9069 17.8706 11.8623 17.8623Z" fill="black" fill-opacity="0.75"></path><path d="M12.731 17.269L13.067 16.933C12.9616 16.9491 12.8539 16.9623 12.7438 16.9726V17.1313C12.7438 17.1783 12.7394 17.2243 12.731 17.269Z" fill="black" fill-opacity="0.75"></path></g><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.125C11.5892 4.125 11.2563 4.45799 11.2563 4.86874L11.2563 5.05697C10.4966 5.17049 9.85404 5.45364 9.32844 5.90642C8.63205 6.50535 8.28386 7.26471 8.28386 8.18449C8.28386 8.99733 8.56851 9.68182 9.13782 10.238C9.61193 10.6926 10.3181 11.089 11.2563 11.427L11.2563 15.6515C10.8226 15.5555 10.4519 15.382 10.1443 15.131C9.84421 14.8804 9.63545 14.5754 9.518 14.2158C9.38592 13.8116 9.07526 13.4545 8.6689 13.4545C8.26255 13.4545 7.92211 13.806 8.0156 14.222C8.10049 14.5997 8.25091 14.9509 8.46685 15.2754C8.82775 15.8102 9.3386 16.2326 9.9994 16.5428C10.3997 16.7274 10.8187 16.8562 11.2563 16.9289L11.2563 17.1313C11.2563 17.542 11.5893 17.875 12 17.875C12.4108 17.875 12.7438 17.542 12.7438 17.1313V16.9726C13.6376 16.8891 14.3722 16.6148 14.9478 16.1497C15.6493 15.5775 16 14.8182 16 13.8717C16 13.2781 15.8729 12.762 15.6188 12.3235C15.3697 11.885 14.9834 11.5027 14.4598 11.1765C14.0285 10.9007 13.4565 10.6452 12.7437 10.4101L12.7437 6.32844C13.1995 6.41635 13.5732 6.59921 13.8651 6.87701C14.1237 7.11987 14.3039 7.41861 14.4059 7.77324C14.5236 8.18242 14.835 8.53743 15.2413 8.53743C15.6477 8.53743 15.9872 8.18621 15.8944 7.76999C15.8146 7.41177 15.677 7.07133 15.4815 6.74866C15.1562 6.20321 14.6936 5.7754 14.0938 5.46524C13.6837 5.25134 13.2337 5.1112 12.7437 5.04481V4.86874C12.7437 4.45798 12.4108 4.125 12 4.125ZM11.2563 6.35081C10.9038 6.43208 10.6068 6.57272 10.3654 6.77273C9.96382 7.10428 9.76304 7.56684 9.76304 8.16043C9.76304 8.63636 9.95366 9.04011 10.3349 9.37166C10.5552 9.5577 10.8623 9.73504 11.2563 9.90369L11.2563 6.35081ZM12.7438 11.926L12.7438 15.7013C13.226 15.6342 13.615 15.4816 13.9108 15.2433C14.3226 14.9118 14.5284 14.4599 14.5284 13.8877C14.5284 13.3155 14.3378 12.8743 13.9566 12.5642C13.6966 12.349 13.2923 12.1363 12.7438 11.926Z" fill="black" fill-opacity="0.75"></path></svg></span></div><span>funded</span></div></div></div><div style="
//     margin-left: auto;
// "><span class="sc-bdVaJa zvAhy" style="/* width: 25px; */"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.7852 16.388C11.988 16.388 12.192 16.4398 12.3756 16.5433L18 19.7359V4.1381C18 3.89604 17.8548 3.73587 17.76 3.73587H6.24C6.144 3.73587 6 3.89604 6 4.1381V19.6732L11.1672 16.5602C11.358 16.4458 11.5716 16.388 11.7852 16.388ZM5.14342 22.2851C4.94915 22.2851 4.75487 22.236 4.58002 22.1366C4.22232 21.9343 4.00061 21.5537 4.00061 21.1423V4.3818C4.00061 2.911 5.12857 1.71448 6.5148 1.71448H17.4858C18.872 1.71448 20 2.911 20 4.3818V21.1423C20 21.5492 19.784 21.9251 19.4332 22.1297C19.0812 22.3354 18.6492 22.3388 18.2949 22.1377L11.8129 18.4716L5.73083 22.1228C5.55027 22.2303 5.34684 22.2851 5.14342 22.2851Z" fill="#7D8199"></path></svg></span></div></div></div><div class="EntityPageLayout__side-body"></div></div>
