@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.ProfileContentFilter {

  &__title {
    margin-top: 0;
    margin-bottom: 48px;
    //font-family: $ff-euclid;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
  }

  &__border {
    display: none;
    margin-bottom: 32px;
    border-bottom: 1px solid $color-gg-5;

    @include desktop {
      display: block;
    }
  }

  .NavTabsView {
    margin-right: -20px;

    @include tablet {
      margin-right: 0;
    }

    &__items {
      display: flex;
      flex-direction: row;
      margin-bottom: 32px;
      border-left: none;
      border-bottom: 1px solid $color-gg-5;
    }

    &__item {
      display: block;
      cursor: pointer;
      padding: 8px 15px;
      color: $color-gg-3;
      font-weight: 400;
      letter-spacing: 0.2px;

      &:visited {
        color: $color-gg-3;
      }

      &:not(:last-child) {
        margin-right: 25px;
      }

      &_active {
        //color: $color-brand-blue !important;
        background-color: transparent;
        font-weight: 700;
        border-left: none;
        //border-bottom: 4px solid $color-brand-blue;
      }
    }
  }

}