@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.ButtonView {
  position: relative;
  padding: 13px 87px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $color-base;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  min-height: 50px;
  outline: none;
  cursor: pointer;

  &:hover, &:focus {
    box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
  }

  &_like-string {
    padding: 0;
    background-color: transparent !important;
    color: $color-brand-green !important;
    font-weight: 300;

    &:hover, &:focus {
      box-shadow: none;
      font-weight: 500;
    }

    &:active {
      color: $color-brand-light-green;
    }
  }

  &:active {
    box-shadow: none;

    .ButtonView__label {
      opacity: 0.8;
    }
  }

  &_color {
    &_primary {
      background-color: $color-brand-green;
      color: $color-base;
    }
  }

  &_outline {
    background-color: $color-base;
    color: $color-brand-green;
    border-color: $color-brand-green;

    &:active {
      opacity: 0.4;
    }
  }

  &__icon {
    margin-right: 3px;

    &_without-label {
      margin: 0;
    }
  }

  &_is-loading &__label {
    opacity: 0;
  }

  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
