@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.ProjectDetailsPage {
  &__form-block {
    margin-bottom: 20px;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__leader-block {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__links {
    padding: 35px 20px 43px;

    @include tablet {

    }
  }

  &__info {
    padding: 0 15px;
  }

  &__social-links {
    margin-bottom: 23px;
  }

  &__share-link {
    @include link;
  }

  &__inner {

  }
}
