@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.CardInfo {
  display: flex;
  height: 100%;

  &__column-left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__column-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-gg-4;
    width: 50%;
  }

  &__cover {
    background-color: $color-brand-light-green;
    min-height: 67px;
    background-size: cover;
  }

  &__info {
    align-items: flex-end;
    padding: 50px 20px 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    font-weight: 300;
    font-size: 13px;
    line-height: 14px;

    @include tablet {
      padding: 20px;
    }
  }

  &__status {
    color: $color-brand-green;
  }

  &__avatar-link {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    height: 74px;

    @include image-hover;
  }

  &__avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__top-info {
    text-align: center;
  }

  &__title {
    width: 100%;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    color: #abb3ac;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    margin-top: 0;
  }

  &__country {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }

  &__right-info {
    text-align: right;
  }

  &__time-is-over {
    display: block;
    padding-right: 10px;
  }
}
