@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.Footer {
  background-color: $color-base-revert;
  color: rgba(255, 255, 255, 0.87);
  padding-top: 42px;
  padding-bottom: 25px;

  @include phone-horizontal {
    padding-top: 48px;
  }

  @include desktop {
    padding-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 22px;
    padding-left: 22px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__left {
    order: 1;

    @include tablet {
      display: flex;
      flex-direction: column;
      order: 0;
    }

    @include desktop {
      justify-content: space-between;
    }
  }

  &__right {
    margin-bottom: 35px;

    @include phone-horizontal {
      margin-bottom: 48px;
    }

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__logo {
    display: flex;
    margin-bottom: 14px;

    .ButtonView__label {
      display: flex;
    }

    @include phone-horizontal {
      margin-bottom: 16px;
    }
  }

  &__logo-image {
    width: 348px;
  }

  &__helpers {
    margin: 0;
    padding: 0;
    list-style: none;

    @include phone-horizontal {
      display: flex;
    }
  }

  &__helpers-item {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;

      @include phone-horizontal {
        margin-right: 0;
      }
    }

    @include phone-horizontal {
      margin-bottom: 0;
      margin-right: 100px;
    }

    @include tablet {
      margin-right: 50px;
    }

    @include desktop {
      margin-right: 120px;
    }
  }

  &__helpers-label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    margin-bottom: 25px;
    display: block;
    letter-spacing: -0.28px;

    @include phone-horizontal {
      margin-bottom: 28px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.32px;
    }
  }

  &__helper {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__helper-item {
    margin-bottom: 7px;

    @include phone-horizontal {
      margin-bottom: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__helper-link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;

    &:active {
      text-decoration: underline;
      color: #e3e3e3;
    }

    @include phone-horizontal {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
    }

    @include desktop {
      &:hover {
        text-decoration: underline;
        color: #e3e3e3;
      }
    }
  }
}