@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.HeaderHamburger {
  $root: &;

  width: 39px;
  height: 20px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;

  @include desktop {
    &:hover, &:focus {
      cursor: pointer;
    }
  }

  &_active {
    #{$root}__line {
      &:first-child {
        transform: rotate(-45deg) translate(-6px, 8px);
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  &__line {
    width: 30px;
    height: 2px;
    background-color: $color-base-revert;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
    }
  }
}