@import 'vars';

// Clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Media Query Sizes
@mixin phone {
  @media screen and (max-width: #{$mqw-tablet - 1px}) {
    @content;
  }
}

@mixin phone-horizontal {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mqw-tablet}) {
    @content;
  }
}

@mixin tablet-down {
  @media screen and (max-width: #{$mqw-desktop - 1px}) {
    @content;
  }
}

@mixin only-tablet {
  @media screen and (min-width: #{$mqw-tablet}) and (max-width: #{$mqw-desktop - 1px}) {
    @content;
  }
}

@mixin tablet-horizontal {
  @media screen and (min-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$mqw-desktop}) {
    @content;
  }
}

@mixin desktop-mid {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin sitewidth {
  @media screen and (min-width: #{$mqw-wrapper}) {
    @content;
  }
}

@mixin icon-hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    @content;
  }

  &:hover::before {
    @include tablet {
      opacity: 1;
    }
  }
}

@mixin card {
  background: #fff;
  border: 1px solid $color-gg-10;
  box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
  border-radius: 3px;
}

@mixin link {
  color: $color-brand-green;
  text-decoration: none;

  &:visited {
    color: $color-brand-green;
  }

}

@mixin image-hover {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 3px solid $color-brand-light-green;
    border-radius: 50%;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:active {
    &::before {
      opacity: 1;
    }
  }

  @include desktop {
    &:hover, &:focus {
      &::before {
        opacity: 1;
      }
    }
  }
}

@mixin card-hover {
  transition: all 0.3s;

  &:active {
    border-color: #c8ccc957;
    box-shadow: 0 0 30px rgba(12, 112, 23, 0.2);
    cursor: pointer;

    .read-more-link {
      font-weight: 500;
    }
  }

  @include desktop {
    &:hover, &:focus {
      border-color: #c8ccc957;
      box-shadow: 0 0 30px rgba(12, 112, 23, 0.2);
      cursor: pointer;

      .read-more-link {
        font-weight: 500;
      }
    }
  }
}
