@import '../../../../style/helpers/vars';
@import '../../../../style/helpers/mixins';

.HeaderNav {
  display: flex;
  align-items: stretch;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: stretch;
  }

  &__item {
    display: flex;
    align-items: stretch;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-base-revert;
    text-decoration: none;

    @include tablet-horizontal {
      padding: 0 20px;
    }

    .ButtonView__label {
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        display: none;
        height: 3px;
        width: calc(100% + 10px);
        bottom: -1px;
        left: -5px;
        background-color: $color-brand-light-green;
      }
    }

    &:hover {
      .ButtonView__label::after {
        display: block;
      }
    }

    &_active {
      .ButtonView__label::after {
        display: block;
        background-color: $color-brand-green;
      }
    }
  }
}