@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.DonateForm {
  $root: &;
  $count-container: #{$root}__count-container;

  @include card;
  padding: 20px;

  display: flex;


  &__user-info {
    min-width: 150px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__user-avatar {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 4px;
    width: 38px;
    height: 38px;
  }

  &__user-name {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 4px;
    color: $color-gg-4;
  }

  &__form {
    flex-grow: 1;
  }

  &__text-field {
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ButtonView {
      width: 100%;
      min-height: 38px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__direction {
    display: flex;
    margin-bottom: 10px;
  }

  &__count-container {
    padding: 5px;
    cursor: pointer;


    &_hovered {
      &#{$count-container}_direction_positive {
        #{$root}__count-item {
          background-color: $color-brand-light-green;
          border-color: $color-brand-light-green;
        }
      }

      &#{$count-container}_direction_negative {
        #{$root}__count-item {
          background-color: $color-brand-light-red;
          border-color: $color-brand-light-red;
        }
      }
    }

    &_active {
      &#{$count-container}_direction_negative {
        #{$root}__count-item {
          background-color: $color-brand-red;
          border-color: $color-brand-red;
        }
      }

      &#{$count-container}_direction_positive {
        #{$root}__count-item {
          background-color: $color-brand-green;
          border-color: $color-brand-green;
        }
      }
    }

    &_active {
      &#{$count-container}_direction_positive#{$count-container}_direction-hovered_negative {
        #{$root}__count-item {
          background-color: $color-brand-light-red;
          border-color: $color-brand-light-red;
        }
      }
    }

    &_active {
      &#{$count-container}_direction_negative#{$count-container}_direction-hovered_positive {
        #{$root}__count-item {
          background-color: $color-brand-light-green;
          border-color: $color-brand-light-green;
        }
      }
    }
  }

  &__count-item {
    width: 9px;
    height: 9px;
    border: 1px solid $color-gg-4;
    transform: rotate(45deg);
  }

  &__direction-switcher {
    display: flex;
    justify-content: center;
  }


  &__like,
  &__unlike {
    cursor: pointer;
  }

  &__unlike {
    margin-right: 14px;
  }

  &__donate-control {
    position: relative;
  }

  &__value {
    position: absolute;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    top: -2px;
    right: 103px;
    text-align: center;
  }
}
