@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.Header {
  display: flex;
  align-items: stretch;
  min-height: 50px;
  background-color: $color-base;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  @include phone-horizontal {
    min-height: 60px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__profile {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;

    @include desktop {
      order: 1;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__nav {
    display: none;

    @include tablet-horizontal {
      display: flex;
      align-self: stretch;
      margin-right: 30px;
    }

    @include desktop {
      margin-right: auto;
    }
  }

  &__form {
    display: none;
    align-self: stretch;

    .FormView {
      display: flex;
      align-self: stretch;
      max-width: 100%;

      .FieldLayoutView {
        display: flex;
        align-self: stretch;
        max-width: 100%;

        &__field {
          display: flex;
          align-self: stretch;
          max-width: 100%;
        }
      }
    }

    @include tablet-horizontal {
      display: flex;
      width: 170px;
      overflow: hidden;
      margin-right: auto;
    }

    @include desktop-mid {
      width: 242px;
    }
  }

  &__menu-toggle {
    top: 1px !important;
    order: -1;
    margin-right: 5px;
    font-size: 40px !important;
    color: $color-base-revert;
    padding: 5px 5px 5px 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    @include tablet-horizontal {
      display: none !important;
    }

    &:active {
      color: $color-brand-green;
    }
  }

  &__menu {
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    z-index: $zi-popup;
    background-color: $color-base;
    padding-bottom: 22px;

    &_hidden {
      display: none;
    }
  }

  &__menu-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &_profile {
      margin-bottom: 50px;

      @include tablet {
        display: none;
      }
    }
  }

  &__menu-item {

  }

  &__menu-link {
    position: relative;
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-base-revert;
    text-decoration: none;
    border: none;
    padding: 13px 0;
    background-color: transparent;
    text-align: left;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      &::after {
        height: 3px;
        background-color: $color-brand-light-green;
      }
    }

    &_active {
      &::after {
        height: 3px;
        background-color: $color-brand-green;
      }
    }

    &_logout {
      color: $color-gg-4;
      cursor: pointer;
    }

    &:hover {

    }
  }

  &__menu-form {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .ButtonView__label {
      display: flex;
    }
  }

  &__logo-image {
    width: 135px;

    @include phone-horizontal {
      width: 165px;
    }
  }

  &__login-link {
    display: flex;
    height: 100%;
    align-items: stretch;
    font-size: 14px;
    line-height: 25px;
    color: $color-brand-green;
    text-decoration: none;
    font-weight: 100;

    @include phone-horizontal {
      font-size: 16px;
      line-height: 28px;
    }

    .ButtonView__label {
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        display: none;
        height: 3px;
        width: calc(100% + 10px);
        bottom: -1px;
        left: -5px;
        background-color: $color-brand-light-green;
      }
    }

    &:hover {
      .ButtonView__label::after {
        display: block;
      }
    }
  }
}