@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.Header {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 50px;
  height: 1px;
  background-color: $color-base;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1000;

  @include phone-horizontal {
    min-height: 60px;
  }

  &__search {
    .FieldLayoutView__field {
      margin: 0;
    }
  }

  &__placeholder {
    height: 60px;
    width: 100%;
    position: relative;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__profile {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;

    @include desktop {
      order: 1;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__nav {
    display: none;

    @include tablet-horizontal {
      display: flex;
      align-self: stretch;
      margin-right: 30px;
    }

    @include desktop {
      margin-right: auto;
    }
  }

  &__form {
    display: none;
    align-self: stretch;

    .FormView {
      display: flex;
      align-self: stretch;
      max-width: 100%;

      .FieldLayoutView {
        display: flex;
        align-self: stretch;
        max-width: 100%;
        margin-bottom: 0;

        &__field {
          display: flex;
          align-self: stretch;
          max-width: 100%;
        }
      }
    }

    @include tablet-horizontal {
      display: flex;
      width: 170px;
      overflow: hidden;
      margin-right: auto;
    }

    @include desktop-mid {
      width: 242px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .ButtonView__label {
      display: flex;
    }
  }

  &__logo-image {
    width: 135px;

    @include phone-horizontal {
      width: 165px;
    }
  }

  &__login-link {
    display: flex;
    height: 100%;
    align-items: stretch;
    font-size: 14px;
    line-height: 25px;
    color: $color-brand-green;
    text-decoration: none;
    font-weight: 100;

    @include phone-horizontal {
      font-size: 16px;
      line-height: 28px;
    }

    .ButtonView__label {
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        display: none;
        height: 3px;
        width: calc(100% + 10px);
        bottom: -1px;
        left: -5px;
        background-color: $color-brand-light-green;
      }
    }

    &:hover {
      .ButtonView__label::after {
        display: block;
      }
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;
    margin-right: 5px;

    @include tablet-horizontal {
      display: none;
    }
  }

  &__menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 102%;
    left: 0;
    z-index: $zi-popup;

    &_active {
      display: block;
    }
  }
}
