@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.ImagePreviewsField {

  $root: &;

  &__drop-zone-root {
    position: relative;

    &_is-loading {
      & > :first-child {
        position: absolute;
        z-index: 2;
        color: #0BC91F;
        width: 100%;

        & > img:first-child {
          width: 32px;
          height: 32px;
          margin-left: calc(50% - 16px);
          margin-top: 57px;
        }
        & > p:nth-child(2) {
          margin-top: 4px;
          text-align: center;
          display: flex;
          flex-direction: column;
        }
      }

      & > :nth-child(2) {
        opacity: .1;
      }
    }
  }

  &_is-cover {
    #{$root}__drop-zone-block {
      height: 70px;
    }

    #{$root}__base-loader {
      position: absolute;
      z-index: 99999;
    }

    #{$root}__drop-zone {
      height: 40px;
    }

    #{$root}__drop-zone-title {
      width: 100%;
    }

    #{$root}__image-container {
      width: 510px;
      height: 70px;
    }

    #{$root}__image {
      border-radius: 0;
    }

    #{$root}__image-remove {
      right: 40px;
    }
  }

  &_is-cover-small {
    #{$root}__drop-zone-block {
      width: 190px;
      height: 70px;
      background-size: auto;
    }

    #{$root}__drop-zone {
      width: 170px;
      height: 40px;
    }

    #{$root}__drop-zone-title {
      width: 100%;
      padding: 5px;
    }

    #{$root}__image-container {
      width: 190px;
      height: 70px;
    }

    #{$root}__image {
      border-radius: 0;
    }
  }


  &__image-container {
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: 24px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #5B6268;
  }

  &__image-remove {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
    background-color: #fff;

    &:hover::before,
    &:hover::after {
      background-color: $color-brand-green;
    }

    &::before,
    &::after
    {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      margin-left: -2px;
      left: 50%;
      width: 2px;
      height: 16px;
      background-color: $color-gg-4;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__image-choose {
    cursor: pointer;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    color: $color-gg-4;

    &:hover {
      color: $color-brand-green;

      #{$root}__image-choose-icon {
        background-image: url('../../../static/icons/image_green.svg');
      }
    }
  }

  &__image-choose-icon {
    width: 12px;
    height: 14px;
    display: block;
    background-image: url('../../../static/icons/image.svg');
    margin-right: 10px;
  }

  &__drop-zone-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 510px;
    height: 180px;

    background: linear-gradient(0deg, rgba(98, 98, 98, 0.3), rgba(98, 98, 98, 0.3)), url('../../../static/images/image-upload-stub.png');
    background-size: cover;
    margin-bottom: 24px;
    transition: all ease 0.6s;

    &_d-none {
      display: none;
    }

    &_on-drag-enter {
      background: url('../../../static/images/image-upload-stub.png');
    }
  }

  &__drop-zone-title {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    width: 110px;
    text-align: center;
  }

  &__drop-zone {
    width: 240px;
    height: 100px;
    position: relative;
    border: 2px dashed #fff;
    outline: none;
  }

  &__upload-failed {
    opacity: 0;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: $color-gg-4;

    transition: opacity ease-in-out 0.7s;

    &_visible {
      opacity: 1;
    }
  }

  &__img-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 25%;
  }

}
