@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.ProjectLayout {

  &__form {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__link-to-contest {
    flex-shrink: 0;

    box-shadow: 0 5px 10px rgba(12, 112, 23, 0.2);
    border-radius: 3px;
    background-color: $color-brand-green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    height: 100px;
    margin: 40px $grid-offset-mobile 0;

    @include card-hover;

    @include tablet {
      margin: 0 0 0 10px;
      font-weight: 300;
      font-size: 16px;
      box-shadow: none;
      background-color: transparent;
      display: inline;
      height: auto;
      @include link;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 10px;
    flex-direction: column;

    background-color: #fff;

    margin-left: -$grid-offset-mobile;
    margin-right: -$grid-offset-mobile;

    @include tablet {
      padding: 40px 0;
      flex-direction: row;
      justify-content: flex-start;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__nav {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;

    @include tablet {
      justify-content: flex-start;
      max-width: 100%;
    }
  }

  &__nav-icon {
    margin-bottom: 5px;

    @include tablet {
      display: none;
    }
  }

  &__nav-item {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    color: $color-gg-4;

    @include tablet {
      color: #000;
      font-size: 16px;
    }
    &_is-active {
      color: $color-brand-green;

      @include tablet {
        color: #000;
        font-weight: 500;
      }
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    & > a {
      &:visited {
        color: inherit;
      }
    }
  }
}
