
$main-green: #0BC91F;

.ProfileModal {

    &__body {
        position: absolute;
        width: 760px;
        height: 680px;
        left: calc(50% - 380px);
        top: calc(50% - 340px);
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__body-inner {
        display: flex;
        flex-direction: column;
        width: 230px;
        margin: auto;
        height: calc(100% - 100px);
        justify-content: space-around;
        padding: 30px 0;
    }

    &__buttons-cont {
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

.LinksTab {
    &__grid {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 40px 60px;
        grid-row-gap: 20px;
        align-items: center;
    }
}

.ProgressLine {
    padding: 30px 0;

    @mixin line {
        height: 1px;
        width: 106px;
        background-color: rgb(171, 179, 172);
        position: relative;
        margin-left: 50%;
        top: 14px;
    }

    &__line-first {
        @include line;
        margin-left: calc(50% - 106px);
        top: 15px;
    }

    &__line-second {
        @include line;
    }

    .passed-line { background-color: $main-green }
    .passed-dot {
        z-index: 3;

        & svg > * { 
            fill: $main-green;
        }
    }

    &__dots-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 316px;
        margin: auto;
    }
}

.AboutTab {
    margin-bottom: auto;

    label { 
        font-weight: 300;
        font-size: 13px;
        line-height: 14px;
    }

    &__grid {
        padding: 20px;

        & > * {
            display: grid;
            justify-items: center;
            padding-top: 15px;
            align-items: center;

            & > :nth-child(2) {
                justify-self: left;
                text-align: left;
            }
        }

        & > :not(:nth-child(1)) {
            & > :nth-child(2) input {
                width: 389px;
            }

            grid-template-columns: 30% auto 106px;
        }

        & > :nth-child(1) { 
            grid-template-columns: 30% auto auto 106px;

            & button {
                width: 130px;
            }
        }

        // & > :nth-child(2) { 
        //     grid-template-columns: 30% auto 106px
        // }
        // & > :nth-child(3) { 
        //     grid-template-columns: 30% auto 106px
        // }
        // & > :nth-child(4) { 
        //     grid-template-columns: 30% auto 106px
        // }
    }
}