@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.Card {
  display: flex;
  background: #fff;
  border: 1px solid $color-gg-10;
  box-shadow: 0 0 30px rgba(12, 112, 23, 0.1);
  border-radius: 3px;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  &__column-left {
    width: 100%;

    @include desktop {
      max-width: 380px;
    }

  }

  &__column-right {
    width: 100%;
    flex-grow: 1;
  }
}
